{% extends 'endpoints/base.html' %}
{% load static %}
{% block extralinks %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
{% endblock %}
{% block title %}WIFI SWITCH{% endblock %}
{% block content %}
    <body>
    <div class="background">
        <div class="content">
            <div class="container">
                <h1>WiFi Switch</h1>
                {% for esp in esps %}
                    <div class="status" >
                        <h3>Current Status: <span id="status" data-status="{{ esp.status }}">{% if esp.status == True %}ON{% else %}OFF{% endif %}</span></h3>
                    </div>
                    <div class="button">
                        <button id="switch" onclick="sendData({{ esp.id }})">{% if esp.status %}Turn off{% else %}Turn
                            on{% endif %}</button>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script src="{% static '/js/script.js' %}">
    </script>
    </body>
{% endblock content %}